<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script.js') }}"
      defer
    ></script>
    <title>Your Recipes</title>
  </head>
  <body>
    <div>
      <input type="hidden" name="user_id" value="{{ session.user_id }}" />
      <h1>Welcome to Recipes 'R' Us, {{ session.user_login }}!!!!!</h1>
      <a href="/logout">
        <button>Logout</button>
      </a>
      <div>
        <h2>All Posted Recipes Library</h2>
      </div>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <td>Title</td>
            <td>Total Time</td>
            <td>Level</td>
            <td>Author</td>
          </tr>
        </thead>
        <tbody>
          {% for one_recipe in all_recipes %}
          <tr>
            <td>{{ one_recipe.title }}</a></td>
            <td>{{ one_recipe.total_time }}</td>
            <td>{{ one_recipe.level }}</td>
            <td>{{ one_recipe.author.user_name }}</td>
            <td>
              <td>
                {% if one_recipe.author.id == session['user_id'] %}
                <a href="/show/recipe/{{ one_recipe.id }}">view</a>
                <a href="/edit/recipe/{{ one_recipe.id }}">edit</a>
                <a href="/delete/recipe/{{ one_recipe.id }}">delete</a>
                {% else %}
                <a href="/show/recipe/{{ one_recipe.id }}">view</a>
                {% endif%}
              </td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/newRecipe">Add a Recipe</a>
    </div>
  </body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->
