<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-eqp="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script.js') }}"
      defer
    ></script>
    <title>Register Page</title>

  </head>
  <body>
    {% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
    {% if messages %}<!-- check if there are any messages -->
    {% for message in messages %}<!-- loop through the messages -->
    <p>{{message}}</p>
    {% endfor %} {% endif %} {% endwith %}

    <form action="/create/user" method="post">
        <h1>Register</h1>
        <p>
            <label>First Name:</label>
            <input type="text" name="first_name" />
        </p>
        <p>
            <label>Last Name:</label>
            <input type="text" name="last_name" />
        </p>
        <p>
            <label>User Name:</label>
            <input type="text" name="user_name" />
        </p>
        <p>
            <label>Email:</label>
            <input type="email" name="email" />
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password" />
        </p>
        <p>
            <label>Confirm Password:</label>
            <input type="password" name="confirm_password" />
        </p>
        <button type="submit">Register User</button>
      </form>
      <p>All ready have an account <a href="/">Login</a> </p>
  </body
</html>